.Article-container {
    width: 70%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.Article-search {
    width: 70%;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

@media screen and (max-width: 60em) {
    .Article-container {
        width: 90%;
    }
}

