.Article-container {
    width: 70%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin-bottom: 2em;
}

.Article-search {
    width: 70%;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

.Article-view-button {
    font-size: 2em;
}

.NoArticle-view {
    text-align: center;
}

@media screen and (max-width: 60em) {
    .Article-container {
        width: 90%;
    }

    .Article-search {
        width: 90%;
    }

    .Article-view-button {
        font-size: 1.5em;
    }
}

