.Highlight-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Seperator {
    width: 50%;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-right: auto;
    margin-left: auto;
    border-bottom: 1px solid;
}

.Brief-container {
    margin: 3em 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Brief-container-items {
    margin: 3em 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.Brief-text-container {
    width: 60%;
    text-align: center;
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Brief-text-title {
    font-size: 2em;
}

.Brief-text-description {
    font-size: 1em;
}

.Brief-grid-container {
    width: 40%;
    padding: 4em;
    display: grid;
    display: -ms-grid;
    grid-gap: 1em;
    grid-template-columns: auto auto;
    grid-auto-rows: 1fr;
}

.Brief-grid-container::before {
    content: '';
    padding-bottom: 100%;
    grid-row: 1 / 1;
    grid-column: 1 / 1;
}

.Brief-grid-container > *:first-child {
    grid-row: 1 / 1;
    grid-column: 1 / 1;
}


.Brief-grid-item-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.Left-text {
    text-align: right;
}

.Right-text {
    text-align: left;
}

.Center-text {
    text-align: center;
}

.Title {
    font-size: 3em;
    padding-right: 1em;
    padding-left: 1em;
}

.Description {
    font-size: 1em;
}


@media screen and (max-width: 60em) {
    .Left-text {
        text-align: center;
    }
    
    .Right-text {
        text-align: center;
    }

    .Explore {
        font-size: 3em;
    }

    .Brief-container-items {
        flex-direction: column;
    }

    .Brief-text-container {
        width: 100%;
    }

    .Brief-grid-container {
        width: 100%;
        grid-template-columns: auto;
    }

}

@media screen and (max-width: 50em) {
    .Title {
        font-size: 2em;
    }
    
    .Description {
        font-size: 0.5em;
    }
}