.Highlight-container {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Explore {
    font-size: 5em;
}


.Story-container {
    height: 90vh;
    width: 100%;
}

.Seperator {
    width: 50%;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-right: auto;
    margin-left: auto;
    border-bottom: 1px solid;
}

.Content-container {
    color: white;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-attachment: scroll;
    background-position: 0% 0%;
    background-repeat: no-repeat;
    background-size: cover;
}

.Arrow-container {
    display: none;
}

.Left-text {
    text-align: right;
}

.Right-text {
    text-align: left;
}

.Center-text {
    text-align: center;
}

.Title {
    font-size: 3em;
}

.Description {
    font-size: 1em;
}


@media screen and (max-width: 60em) {
    .Left-text {
        text-align: center;
    }
    
    .Right-text {
        text-align: center;
    }

    .Explore {
        font-size: 3em;
    }
    
    .Image-container {
        height: auto;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    
    .Text-container {
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 0.5em;
        margin-bottom: 0.5em;
        padding-left: 1em;
        padding-right: 1em;
    }
    
    .Arrow-container {
        display: flex;
        justify-content: center;
        align-content: center;
        margin-top: 2em;
        margin-bottom: 2em;
    }

    #text {
        order: 1;
    }

    #arrow {
        order: 2;
    }

    #image {
        order: 3;
    }

}

@media screen and (max-width: 50em) {
    .Title {
        font-size: 2em;
    }
    
    .Description {
        font-size: 0.5em;
    }
}

.Image {
    display: block;
    width: 100%;
    height: auto;
    transition: transform 1s
}

.Image:hover {
    transform: scale(1.05);
}