.Associate-main-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.Associate-video-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -5;
    padding-bottom: 56.25%;
}

.Associate-video {
    position: absolute;
	top: 0;
	left: 0;
    width: 100%;
    height: 100%;  
}

.Associate-empty {
    width: 100%;
    height: 50vh;
}

.Associate-paragraph {
    padding: 3em;
    background-color: white;
    text-align: center;
}

.Associate-parallax {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}