.Favorite-container {
    margin-top: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Main-image-container {
    position: relative;
    width: 90%;
}

.Main-image {
    display: block;
    width: 100%;
    height: auto;
    
}

.Favorite-overlay {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    top: 90%;
    bottom: 0;
    left: 0;
    right: 0;
    height: 10%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
}

.Overlay-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 1vw;
}

.Main-image-container:hover .Favorite-overlay {
    opacity: 1;
}

.Image-text {
    margin-top: 0.5em;
    color: #999999;
    font-size: 0.8em;
}

@media screen and (max-width: 60em) {
    .Main-image-container {
        width: 100%;
    }
    .Image-text {
        font-size: 0.5em;
    }

    .Overlay-content {
        font-size: 0;
    }
}