.Favorite-container {
    width: 100%;
    height: 100vh;
    position: relative;
}

.Favorite-carousel {
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transition: opacity 0.5s ease-in-out;
}

.Favorite-spinner {
    width: 3em;
}

.Favorite-icon {
    position: relative;
    -webkit-animation-name: iconAnimation; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 3s; /* Safari 4.0 - 8.0 */
    -webkit-animation-iteration-count: infinite; /* Safari 4.0 - 8.0 */
    animation-name: iconAnimation;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@keyframes iconAnimation {
    0% {opacity: 0;top: -0.4em}
    50% {opacity: 1;}
    100% {opacity: 0;top: 0.4em}
}

@-webkit-keyframes iconAnimation {
    0% {opacity: 0;top: -0.4em}
    50% {opacity: 1;}
    100% {opacity: 0;top: 0.4em}
}

@keyframes slideShowFadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes slideShowFadeOut {
    0% {opacity: 1;}
    100% {opacity: 0;
    display: none}
}

.Main-logo-image {
    display: block;
    width: 400px;
    height: auto;
}

.Favorite-main-text {
    font-size: 2em;
    letter-spacing: 0.5em;
    margin-bottom: 10vh;
}

.Favorite-overlay {
    z-index: 1;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

@media screen and (max-width: 80em) {
    .Main-logo-image {
        display: block;
        width: 300px;
        height: auto;
        
    }
    
    .Favorite-main-text {
        font-size: 1em;
        letter-spacing: 0.2em;
    }
}


@media screen and (max-width: 60em) {
    .Main-logo-image {
        display: block;
        width: 200px;
        height: auto;
        
    }
}
