.Containt-main {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 1em;
}

.GetTouch-container {
    width: 100%;
    margin-top: 10em;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.GetTouch-image-container {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.GetTouch-image {
    margin: 0.5em;
    height: auto;
    display: block;
    width: 60%;
}

.GetTouch-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 60%;
    margin-left: 2em;
    margin-right: 2em;
}

.GetTouch-Seperator {
    width: 100%;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    border-bottom: 1px solid;
}

.GetTouch-header {
    font-size: 3em;
}

.GetTouch-sub-header {
    font-size: 1.5em;
}

.GetTouch-form-submit-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.GetTouch-form-text-area {
    width: 100%;
    font-family: inherit;
    font-size: inherit;
    height: 3em;
    margin-bottom: 1em;
    border: 0px;
		padding: 0.5em 1em;
		color: inherit;
		background: inherit;
}

/* About Me*/

.AboutMe-container {
    width: 100%;
    margin-top: 30vh;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.AboutMe-text-container {
    width: 50%;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-left: 3em;
    padding-right: 3em;
}

.AboutMe-image-container {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.AboutMe-image {
    margin: 0.5em;
    height: auto;
    display: block;
    width: 60%;
}

.AboutMe-header {
    font-size: 3em;
}

.AboutMe-paragraph {
    font-size: 1em;
}


/* About me end */


/* More about start*/

.MoreAbout-container {
    margin-top: 30vh;
    padding-left: 2em;
    padding-right: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.MoreAbout-icon {
    margin: 1em;
}

.blinkr-logo {
    margin-top: 1em;
    margin-bottom: 1em;
    display: block;
    height: 3em;
    width: auto;
}


/* More about end*/

@media screen and (max-width: 60em) {
    .GetTouch-container {
        flex-direction: column;
    }

    .GetTouch-image-container {
        width: 100%;
    }

    .GetTouch-form-container {
        width: 100%;
    }

    .GetTouch-form-submit-container {
        width: 90%;
    }

    .GetTouch-Seperator {
        width: 90%;
    }
    


    .AboutMe-container {
        flex-direction: column;
    }

    .AboutMe-text-container {
        width: 100%;
    }
    
    .AboutMe-image-container {
        width: 100%;
        margin-top: 20vh;
    }

    .AboutMe-image {
        width: 70%;
    }

    .AboutMe-header {
        font-size: 2em;
    }
    
    .AboutMe-paragraph {
        font-size: 1em;
    }

}
