.BookMe-container {
    margin-top: 10em;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3em;
}

.BookMe-container > div {
    font-size: 2em;
}

.BookMe-button {
    font-size: 1em;
    margin-top: 1em;
}

@media screen and (max-width: 60em) {

    .BookMe-container {
        margin-top: 2em;
    }


    .BookMe-button {
        margin-top: 0.5em;
    }
    
}

@media screen and (max-width: 50em) {
    
    .BookMe-container {
        margin-top: 2em;
    }

    .BookMe-container > div {
        font-size: 1em;
    }
}
