.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.Body-container {
  display: flex;
  flex-direction: column;
}

.No-match-container {
  width: 100%;
  height: 100vh;
  font-size: 5vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  overflow: auto;
}

.Common-container {
    width: 100%;
    margin-top: 10em;
    padding-right: 1vw;
    padding-left: 1vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1em;
}

.Common-seperator {
  width: 100%;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  border-bottom: 1px solid;
}

.Common-title {
  font-size: 3em;
  text-align: center;
}

.Common-title-medium {
  font-size: 2em;
  text-align: center;
}

.Blink-fb-comments {
  width: 70%;
}

@media screen and (max-width: 60em) {
  .Blink-fb-comments {
    width: 90%;
  }
}