.Background {
    background: #e5e5e5
}

.Blink {
    color: #f55d5d
}

.Blink-border {
    border-color: #f55d5d;
}

.Blink-outline {
    outline-color: #f55d5d;
}

.Blink-background {
    background-color: #f55d5d;
}