* {
    box-sizing: border-box;
}

.AlbumExp-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.AlbumExp-sub-container {
    padding-right: 2vw;
    padding-left: 2vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.AlbumExp-header {
    height: 50vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    background-size: cover;
    background-position: center;
    background-color: rgba(255, 255, 255, 0.5)!important;
    background-blend-mode: color;
}

.AlbumExp-header-title {
    font-size: 3em;
}

.AlbumExp-header-desc {
    font-size: 1.2em;
    margin-bottom: 1em;
}

.AlbumExp-Seperator {
    width: 100%;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    border-bottom: 1px solid;
}

.AlbumExp-grid {
    width: 100%;
    max-width: 100%;
    column-count: 3;
    column-fill: auto;
}

.AlbumExp-back-button {
    font-size: 2em;
    margin-bottom: 1em;
}

/* Image */

.AlbumExp-image-container {
    display: block;
    break-inside: avoid-column;
    position: relative;
    width: 100%;
    padding: 10vh 1vw;
}


.AlbumExp-image-image {
    padding: 1vh;
    width: 100%;
    height: auto;
    display: block;
    border: 1px solid;
    cursor: pointer;
}


.NoAlbum-container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 2em;
}

.fb-comments, .fb-comments span, .fb-comments.fb_iframe_widget span iframe {
    width: 100% !important;
  }

@media screen and (max-width: 100em) {

    .AlbumExp-back-button {
        font-size: 1.5em;
    }
}


@media screen and (max-width: 60em) {
    .AlbumExp-grid {
        column-count: 1;
    }

    .NoAlbum-container {
        font-size: 1em;
    }

    .AlbumExp-header-title {
        font-size: 2em;
    }

    .AlbumExp-header-desc {
        font-size: 1em;
    }

    .AlbumExp-image-image {
        pointer-events: none;
    }
}